@tailwind components;

@layer components {
    .search-form-main {
        .ant-tabs-nav::before {
            @apply border-b-0;
        };
        .ant-tabs-tab {
            .ant-tabs-tab-btn {
                @apply text-lg;
                @apply text-rose-500;
                &:hover {
                    @apply text-rose-300;
                };
            };
        };
        .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
            @apply text-rose-500;
        };
        .ant-tabs-ink-bar {
            @apply bg-rose-500;
        };
        .search-bar-inner {
            .input-block-active {};
            .location-input-block {
                &::after {
                    @apply bg-red-400 shadow-lg;
                };
                &:hover {
                    @apply bg-gray-200;
                };
                .location-input-name {};
                .location-input {};
            };
            .date-input-block{
                .date-input-item {
                    .date-input-name {};
                };
                .ant-picker-focused {
                    @apply shadow-none;
                };
                .date-picker-container {
                    @apply w-full h-16;
                    @apply absolute bottom-0 z-10;
                    @apply bg-transparent outline-none border-none;
                    @apply cursor-pointer;
                    input {
                        @apply h-16 w-full;
                        @apply rounded-full;
                        @apply cursor-pointer;
                        @apply text-center pt-5;
                        &:hover {
                            @apply bg-gray-200;
                        };
                    };
                    .ant-picker-suffix {
                        @apply hidden;
                    };
                    .ant-picker-range-separator {
                        @apply hidden;
                    };
                    .ant-picker-active-bar {
                        @apply hidden;
                    };
                };
            };
        };
    };
    
    .ant-popover-inner {
        .ant-popover-inner-content {
            .ant-menu {
                .ant-menu-item {
                    .-title-content {
                        a:hover {
                            @apply text-black;
                        };
                    };
                };
            };
        };
    };
    
};